<div class="container w-50 ">
  <h3 class="title text-center my-5">Cargos</h3>
  <a routerLink="/cadastrarCargo"  class="btn btn-dark" title="Cadastrar Cargo"><i class="fa-solid fa-square-pen"></i></a>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Identificação</th>
          <th scope="col">Nome do Cargo</th>
          <th scope="col">Retribuição do Cargo</th>
          <th scope="col">Editar/Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cargo of cargos" class="fs-5">
          <th scope="row">{{cargo.id_cargo}}</th>
          <td>{{cargo.ca_nome}}</td>
          <td>{{cargo.ca_atribuicao}}</td>
          <!-- <td> <a routerLink="/funcionarioCargo/{{cargo.id_cargo}}"> <i class="fa-solid fa-user"></i></a></td> -->
          <td>
            <a  routerLink="editarCargo/{{cargo.id_cargo}}" class="btn btn-success" title="EditarDados"><i class="fa-solid fa-pen-to-square"></i></a>
            <a  routerLink ="/excluirCargo/{{cargo.id_cargo}}" class="btn btn-danger mx-3"><i class="fa-solid fa-trash-can" title="Excluir Turma"></i></a>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
