<div class="container p-5">
  <h5 class="text-center">Boletos do Aluno: <span class="bg-success p-2 text-light rounded-3">{{this.nome_aluno}}</span></h5>
  <div class="search-box float-end ">
    <input type="text" [(ngModel)]="search">
    <button class="btn-search" type="reset" (click)="resetSearch()"></button>
  </div>
  <a routerLink="/cadastrarBoleto/{{ra_aluno}}"  class="btn btn-dark" title="Cadastrar Aluno"><i class="fa-solid fa-square-pen"></i></a>
  <table class="table table-hover table-responsive-md text-center">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Data de Vencimento</th>
        <th scope="col">Valor</th>
        <th scope="col">Status</th>
        <th scope="col" >Quitar/Cancelar</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let boleto of boletos | filter:search">
        <th scope="row">{{boleto.codigo}}</th>
        <td>{{boleto.bo_dataVencimento | date: 'dd/MM/yyyy'}}</td>
        <td>{{boleto.bo_valor | currency: 'BRL'}}</td>
        <td>{{boleto.bo_status}}</td>
        <td>
          <a *ngIf="boleto.bo_status == 'PENDENTE'" (click)="quitarBoleto(boleto,boleto.codigo)" class="btn btn-success me-3"><i class="fa-regular fa-circle-check"></i></a>
          <a *ngIf="boleto.bo_status == 'PENDENTE'" (click)="cancelarBoleto(boleto,boleto.codigo)" class="btn btn-danger"><i class="fa-regular fa-rectangle-xmark"></i></a>

        </td>
        <td>
          <a  routerLink="/editarBoleto/{{boleto.codigo}}/{{ra_aluno}}" class="btn btn-success me-3" title="Editar Dados"><i class="fa-solid fa-pen-to-square"></i></a>
          <!-- <a  routerLink="/excluirAluno/{{boleto.ra_aluno}}/{{ra_aluno}}" class="btn btn-danger"><i class="fa-solid fa-trash-can" title="Excluir Turma"></i></a> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
