<div class="container p-5">
  <h5 class="text-center">Professores</h5>
  <div class="search-box float-end my-3">
    <input type="text" [(ngModel)]="search">
    <button class="btn-search" type="reset" (click)="resetSearch()"></button>
  </div>
  <a routerLink="/cadastrarProfessor/{{id_turma}}"  class="btn btn-dark" title="Cadastrar Professor"><i class="fa-solid fa-square-pen"></i></a>
  <table class="table table-hover table-responsive-md text-center">
    <thead>
      <tr>
        <th scope="col">Nome do Professor</th>
        <th scope="col">Formação</th>
        <th scope="col">Turma</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let professor of professores | filter: search">
        <td>{{professor.pro_nome}}</td>
        <td>{{professor.pro_formacao}}</td>
        <td>{{professor.tu_turma}}</td>
        <td>
          <a  routerLink="professorTurma/{{id_turma}}" class="btn btn-success" title="EditarDados"><i class="fa-solid fa-pen-to-square"></i></a>
          <a  routerLink="/excluirProfessor/{{professor.id_professor}}/{{id_turma}}" class="btn btn-danger mx-3"><i class="fa-solid fa-trash-can" title="Excluir Turma"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
