<div class="container p-5 ">
  <h5 class="text-center">Turmas</h5>
  <div class="search-box float-end ">
    <input type="text" [(ngModel)]="search">
    <button class="btn-search" type="reset" (click)="resetSearch()"></button>
  </div>
  <a routerLink="/cadastrarTurma"  class="btn btn-dark" title="Cadastrar Turma"><i class="fa-solid fa-square-pen"></i></a>
 <div class="table-responsive">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome da Turma</th>
        <th scope="col">Descrição</th>
        <th scope="col">Aluno</th>
        <th scope="col">Professor</th>
        <th scope="col">Editar/Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turma of turmas | filter:search">
        <th scope="row">{{turma.id_turma}}</th>
        <td>{{turma.tu_nome}}</td>
        <td>{{turma.tu_descricao}}</td>
        <td> <a routerLink="/alunoTurma/{{turma.id_turma}}"  class="btn btn-dark"><i class="fa-solid fa-user"></i></a></td>
        <td> <a routerLink="/professorTurma/{{turma.id_turma}}"  class="btn btn-dark">
          <i class="fa-solid fa-chalkboard-user"></i></a></td>

        <td>
          <a  routerLink="editarTurma/{{turma.id_turma}}" class="btn btn-success" title="EditarDados"><i class="fa-solid fa-pen-to-square"></i></a>
          <a  routerLink="/excluirTurma/{{turma.id_turma}}" class="btn btn-danger mx-3"><i class="fa-solid fa-trash-can" title="Excluir Turma"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
 </div>

</div>
