<div class="container p-5 w-75">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Cadastrar Aluno</h5>
        <form>
          <div class="mb-3">
            <label class="form-label">Nome do aluno</label>
            <input type="text" class="form-control" [(ngModel)]="aluno.al_nome" name="al_nome">
          </div>
          <div class="mb-3">
            <label class="form-label">Nome do responsável</label>
            <input type="text" class="form-control" [(ngModel)]="aluno.al_responsavel"  name="al_responsavel">
          </div>
          <div class="mb-3">
            <label class="form-label">Nome da cidade</label>
            <input type="text" class="form-control" [(ngModel)]="aluno.al_cidade"  name="al_cidade">
          </div>
          <button (click)="cadastrarAluno()" class="btn btn-success">Cadastrar</button>
          <button type="reset" class="btn btn-dark mx-3">Limpar</button>
          <button  routerLink="/alunoTurma/{{id_turma}}" class="btn btn-dark">Cancelar</button>
        </form>

      </div>
    </div>
</div>

