<div class="container p-5">
  <h5 class="text-center">Alunos</h5>
  <div class="search-box float-end ">
    <input type="text" [(ngModel)]="search">
    <button class="btn-search" type="reset" (click)="resetSearch()"></button>
  </div>
  <a routerLink="/cadastrarAluno/{{id_turma}}"  class="btn btn-dark" title="Cadastrar Aluno"><i class="fa-solid fa-square-pen"></i></a>
  <table class="table table-hover table-responsive-md text-center">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome do Aluno</th>
        <th scope="col">Nome do Responsável</th>
        <th scope="col">Cidade do Aluno</th>
        <th scope="col">Boleto</th>
        <th scope="col">Editar/Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of alunos | filter:search">
        <th scope="row">{{aluno.ra_aluno}}</th>
        <td>{{aluno.al_nome}}</td>
        <td>{{aluno.al_responsavel}}</td>
        <td>{{aluno.al_cidade}}</td>
        <td> <a  routerLink="/boleto/{{aluno.ra_aluno}}" class="btn btn-dark" title="Boletos"><i class="fa-solid fa-coins"></i></a></td>
        <td>
          <a  routerLink="/editarAluno/{{aluno.ra_aluno}}/{{id_turma}}" class="btn btn-success" title="EditarDados"><i class="fa-solid fa-pen-to-square"></i></a>
          <a  routerLink="/excluirAluno/{{aluno.ra_aluno}}/{{id_turma}}" class="btn btn-danger mx-3"><i class="fa-solid fa-trash-can" title="Excluir Turma"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
