*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


.vangoghLogo{
  width: 50%;
  height: 20%;
  border-radius: 50%;
  margin: 0 1.5rem;
  transition: all 1s;
  border: 1px solid var(--color2);
}

.vangoghLogo:hover{
  transform: scale(1.3);
  cursor: pointer;
}

.wrapper{
  display: flex;
  position: relative;

}

.wrapper .sidebar{
  width: 250px;
  height: 100%;
  background: var(--color1);
  padding: 30px 0px;
  position: fixed;
  border-bottom-right-radius: 10px;

}

.wrapper .sidebar h2{
  color: var(--color2);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-style: italic;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid var(--color2);
  border-bottom: 1px solid var(--color3);
  border-top: 1px solid var(--color3);
  font-weight: bold;
}

.wrapper .sidebar ul li a{
  color: var(--color2);
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;

}

.wrapper .sidebar ul li:hover{
  background-color: var(--color2);

}

.wrapper .sidebar ul li:hover a{
  color: var(--color1);
}

.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: var(--color2);
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: var(--color1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin: auto;
  height: 100%;

}

 .wrapper .main_content .header{
  padding: 20px;
  background: var(--color1);
  color: var(--color2);
  border-bottom: 1px solid var(--color2);
}

.header{
  text-align: center;
  font-style: italic;
  font-size: 22px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


@media only screen and (max-width: 1024px) {
  marquee{
    width: 200px;
  }

.wrapper .main_content{
  margin-left: 250px;

}
}
