<div class=" wrapper">
  <div class="sidebar">
    <a routerLink="/home"><img src="assets/img/vangogh3.webp" class="vangoghLogo" alt="Logo Van Gogh"></a>
      <ul>
        <li><a routerLink="/login"> <i class=" fas fa-solid fa-right-to-bracket"></i>Login</a>
        </li>
          <li><a routerLink="/home"><i class="fas fa-home"></i>Home</a></li>
          <!-- <li><a routerLink="/cadastrarFuncionario/:id_cargo" ><i class="fas fa-solid fa-user-tie"></i>Cadastrar Funcionário</a></li> -->
          <li><a  routerLink="/listarFuncionariosGeral"><i class="fas fa-address-card"></i>Listar Funcionários</a></li>
          <!-- <li><a routerLink= "/cadastrarCargo" ><i class="fas fa-solid fa-id-badge"></i>Cadastrar Cargo</a></li> -->
          <li><a routerLink="/listarCargos"><i class="fas fa-address-card"></i>Administrar Dados</a></li>
          <li><a routerLink="/galeria"><i class="fas fa-solid fa-images"></i>Galeria</a></li>
          <li><a routerLink="/contato"><i class="fas fa-address-book"></i>Contact</a></li>
          <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
      </ul>
      <div class="social_media">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
  <div class=" main_content">
      <div class="header">
          <!-- <p>Eu sonho minha pintura e eu pinto meu sonho.</p>
          <span>Van Gogh</span> -->

           <marquee width=400 height=50 direction=right>
            <h2>Van Gogh Museum</h2>
          </marquee>
      </div>
    </div>
  </div>
