<div class="container my-5">
    <a routerLink="/cadastrarTurma"  class="btn btn-dark" title="Cadastrar Turma"><i class="fa-solid fa-square-pen"></i></a>
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome da Turma</th>
          <th scope="col">Descrição</th>
          <th scope="col">Aluno</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turma of turmas">
          <th scope="row">{{turma.id_turma}}</th>
          <td>{{turma.tu_nome}}</td>
          <td>{{turma.tu_descricao}}</td>
          <td> <a class="btn btn-dark"><i class="fa-solid fa-user"></i></a></td>
          <td>
            <a  class="btn btn-success" title="EditarDados"><i class="fa-solid fa-pen-to-square"></i></a>
            <a routerLink="/excluirUmaTurma/{{" class="btn btn-danger mx-3"><i class="fa-solid fa-trash-can" title="Excluir Turma"></i></a>
          </td>
        </tr> 
      </tbody>
    </table>
  </div>