<div class="container ">
  <h3 class="title text-center mt-5 mb-3 ">Todos Funcionários</h3>

  <div class="table-responsive">
    <table class="table table-hover myTable">
      <thead>
        <tr>
          <th scope="col">Identificação</th>
          <th scope="col">Nome do Funcionario</th>
          <th scope="col">Nome da Cidade</th>
          <th scope="col">Nome do Cargo</th>
          <th scope="col">Atribuição do Cargo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionariosGeral "class="fs-5">
          <th scope="row">{{funcionario.id_funcionario}}</th>
          <td>{{funcionario.func_nome}}</td>
          <td>{{funcionario.func_cidade}}</td>
          <td>{{funcionario.ca_nome}}</td>
          <td>{{funcionario.ca_atribuicao}}</td>
        </tr>
      </tbody>
    </table>
  </div>

