<div class="container w-50 mt-5">
  <h3 class="text-center my-3">Cadastrar Cargo</h3>
  <div class="card">
  <form class="p-3">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" id="ca_nome" [(ngModel)]="cargo.ca_nome" name="ca_nome" >
    </div>
    <div class="mb-3">
        <label class="form-label">Atribuição</label>
        <input type="text" class="form-control" id="ca_atribuicao"  [(ngModel)] ="cargo.ca_atribuicao"  name = "ca_atribuicao">
    </div>
    <div cals="mt-3">
      <button (click)="cadastrarCargo()" class="btn btn-success me-3">Cadastrar</button>
      <button type="reset" class="btn btn-dark me-3">Limpar</button>
      <button  routerLink="/listarCargos"class="btn btn-dark">Cancelar</button>
    </div>
  </form>
  </div>
</div>

<div class="fixed-top">
  <div *ngIf="cadastrado" class="alert alert-success w-75 text-center m-auto" role="alert">Cargo Cadastrado!<i (click)="fechar()" class="fa-solid fa-rectangle-xmark fs-1 float-end" style="cursor: pointer;"></i></div>
<div *ngIf="error" class="alert alert-danger w-75 text-center m-auto" role="alert">Erro!Não foi possível cadastrar este cargo.<i (click)="fechar()" class="fa-solid fa-rectangle-xmark fs-1 float-end" style="cursor: pointer;"></i></div>
</div>


