<div class="container p-5">
  <h5 class="text-center">Professores</h5>
  <a routerLink="/cadastrarAluno/{{id_turma}}"  class="btn btn-dark" title="Cadastrar Aluno"><i class="fa-solid fa-square-pen"></i></a>
  <table class="table table-hover table-responsive-md text-center">
    <thead>
      <tr>
        <th scope="col">Registro</th>
        <th scope="col">Nome do Professor</th>
        <th scope="col">Formação</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let professor of professores">
        <th scope="row">{{professor.id_professor}}</th>
        <td>{{professor.pro_nome}}</td>
        <td>{{professor.pro_formacao}}</td>
        <td>
          <a  routerLink="/editarAluno/{{professor.id_professor}}/{{id_turma}}" class="btn btn-success" title="EditarDados"><i class="fa-solid fa-pen-to-square"></i></a>
          <a  routerLink="/excluirAluno/{{professor.id_professor}}/{{id_turma}}" class="btn btn-danger mx-3"><i class="fa-solid fa-trash-can" title="Excluir Turma"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
