<div class=" wrapper">
  <div class="sidebar">
    <marquee width=400 height=30 direction=right>
      <h2>Van Gogh Museum</h2>
    </marquee>
      <ul>
          <li><a routerLink="//home"><i class="fas fa-home"></i>Home</a></li>
          <li><a routerLink="/cadastrarFuncionario/:id_cargo" ><i class="fas fa-solid fa-user-tie"></i>Cadastrar Funcionário</a></li>
          <li><a  routerLink="/alunoCargo/:id_cargo"><i class="fas fa-address-card"></i>Listar Funcionários</a></li>
          <li><a routerLink= "/cadastrarCargo" ><i class="fas fa-solid fa-id-badge"></i>Cadastrar Cargo</a></li>
          <li><a routerLink="/listarCargos"><i class="fas fa-address-card"></i>Listar Cargos</a></li>
          <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
          <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
      </ul>
      <div class="social_media">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
  <div class=" main_content">
      <div class="header">
          <p>Eu sonho minha pintura e eu pinto meu sonho.</p>
           <span>Van Gogh</span>
      </div>
    </div>
  </div>
