<div class="container p-5 w-75 mb-5">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Editar Boleto</h5>
        <form>
          <div class="mb-3">
            <label class="form-label">Descrição do boleto</label>
            <input type="text" class="form-control" [(ngModel)]="boleto.bo_descricao" name="bo_descricao" >
          </div>
          <div class="mb-3">
            <label class="form-label">Data de vencimento do boleto</label>
            <input type="date" class="form-control" [(ngModel)]="boleto.bo_dataVencimento" value="boleto.bo_dataVencimento | date: 'yyyy-MM-dd' "  name="bo_dataVencimento" >
          </div>
          <div class="mb-3">
            <label class="form-label">Valor do boleto</label>
            <input type="text" class="form-control" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' , align: 'left'}" [(ngModel)]="boleto.bo_valor"    name="bo_valor">
          </div>
          <div class="mb-3">
            <label class="form-label">Status do boleto</label>
            <input type="text" class="form-control" readonly value="PENDENTE" [(ngModel)]="boleto.bo_status"  name="bo_status">
          </div>
         <button (click)="editarBoleto()" class="btn btn-success me-3">Salvar</button>
          <button type="reset" class="btn btn-dark me-3">Limpar</button>
          <button  class="btn btn-dark ">Cancelar</button>
        </form>

      </div>
    </div>
</div>

