<div class="container-fluid my-3 m-auto card-escola">
    <div class="card" style="width: 100%;">
        <img src="assets/img/escola.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Escola  Le Rosey</h5>
            <p class="card-text">Os progressos obtidos por meio do ensino são lentos; já os obtidos por meio de exemplos são mais imediatos e eficazes.
            </p>
            <span class="my-3">Sêneca</span>
        </div>
        <!-- <a href="#" class="btn btn-success">Go somewhere</a> -->
    </div>
</div>
