section{
  /* background: radial-gradient(circle, var(--color3) 0%, var(--color1) 100%); */
  background: var(--color3);
  color: var(--color2);
}

form{
  background-image: url("/assets/img/vangogh1.jpg");
  color: var(--color4);

}

.bg{
 background: var(--color1);
}









