<section class="container-fluid p-4">
  <form class="text-start w-50 m-auto  py-5">
    <h5 class="m-auto text-center my-3 ">VAN<strong>GOGH</strong></h5>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Lembrar-me</label>
    </div>
    <button (click)="submit()" class="btn btn-warning text-dark w-100">Entrar</button>
  </form>
</section>

