<section class="container-fluid p-4">
  <form class="m-auto rounded-3 w-75 py-5">
  <div class="w-50 bg p-2 rounded-3 m-auto ">
      <h5 class="m-auto text-center my-3 ">VAN<strong>GOGH</strong></h5>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label text-center">Email</label>
      <input type="email" class="form-control w-75 m-auto" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label text-center">Senha</label>
      <input type="password" class="form-control w-75 m-auto" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check ">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label " for="exampleCheck1">Lembrar-me</label>
    </div>
   <div class="text-center">
    <button (click)="submit()" class="btn btn-warning text-dark w-75">Entrar</button>
   </div>
    </div>
  </form>
</section>

