:root {
  --color1: #007849;
  --color2: #FFCE00;
  --color3: #ffcc001f;
  --fontSize1: 22px;
  --fontSize2: 18px;
  --fontSize3: 12px;

}

body{
  font-family: 'Nunito', sans-serif;
  box-shadow: 6px 6px 20px #0b827e, -6px -6px 20px #0b827e;
  background: #dfe9df94;

}


form, .table{
  border: 1px solid var(--color1);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}

.table, .title, form{
  margin-left: 250px;
  width: auto;
}

.btn{
  color: var(--color2);
  font-weight: bold;
}

.search-box {
  border: solid 3px #0b827e;
  display: inline-block;
  position: relative;
  border-radius: 10px;
}
.search-box input[type="text"] {
  font-size: 15px;
  width: 20px;
  height: 20px;
  padding: 3px 20px 3px 5px;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}
.search-box input[type="text"]:focus {
  outline: none;
}
.search-box input[type="text"]:focus, .search-box input[type="text"]:not(:placeholder-shown) {
  width: 250px;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.search-box input[type="text"]:focus + button[type="reset"], .search-box input[type="text"]:not(:placeholder-shown) + button[type="reset"] {
  bottom: 4px;
  right: 10px;
  transition: bottom 150ms ease-out 800ms, right 150ms ease-out 800ms;
}
.search-box input[type="text"]:focus + button[type="reset"]:after, .search-box input[type="text"]:not(:placeholder-shown) + button[type="reset"]:after {
  top: 0px;
  right: 7px;
  opacity: 1;
  transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
}
.search-box button[type="reset"] {
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -11px;
  right: -11px;
  transition: bottom 150ms ease-out 150ms, right 150ms ease-out 150ms;
}
.search-box button[type="reset"]:before, .search-box button[type="reset"]:after {
  content: "";
  height: 15px;
  border-left: solid 3px #0b827e;
  position: absolute;
  transform: rotate(-45deg);
}
.search-box button[type="reset"]:after {
  transform: rotate(45deg);
  opacity: 0;
  top: -20px;
  right: -10px;
  transition: top 150ms ease-out, right 150ms ease-out, opacity 150ms ease-out;
}

@media only screen and (max-width: 900px) {

  .wrapper, form{
    flex-direction: column;
  }

 .title{
    width: 100%;
    margin-left: 300px;

  }

  .btn{
    margin-top: 1rem;
    width: 100% !important;
  }

  form{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    width: 100%;
    padding: 5rem;
  }

}

